<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941249005997-1lf9ccmc3upoebl40jkfdq4bv4of1c3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941249005997-1lf9ccmc3upoebl40jkfdq4bv4of1c3c</string>
	<key>API_KEY</key>
	<string>AIzaSyB34tXFzknDf8pCkWKyDcwxmkEKZlthVLE</string>
	<key>GCM_SENDER_ID</key>
	<string>941249005997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sampleApp</string>
	<key>PROJECT_ID</key>
	<string>medicollect-3ccea</string>
	<key>STORAGE_BUCKET</key>
	<string>medicollect-3ccea.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941249005997:ios:91f535bc21f2f9af903924</string>
</dict>
</plist>